*{
    box-sizing:border-box;
}

header, main, footer, section, aside, nav{
    display:block;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.console {
  display: block;
  float: left;
  width: 1200px;
  margin-top: 10px;
  padding: 0;
  position: relative;
}

.console_element {
  display: block;
  float:left;
  height: 30px;
  margin: 0 10px 0 10px;
  padding: 0;
  border: rgb(61, 42, 165) 1px dotted;
  border-radius: 10px;
  background: rgb(230, 230, 255);
}

.console_element > p {
  margin: 0;
  padding: 5px 10px 0 10px;
}

.console_form {
  display: block;
  float:right;
  height: 30px;
  margin: 0 10px 0 10px;
  padding: 3px;
}

.console_form > button {
  margin: 0;
  padding: 2px 10px 2px 10px;
}

#particle_container {
  float: left;
  height: calc(100vh - 70px);
  width: 100%;
  margin: 10px 0 0 0;
  padding: 0;
  position: relative;
  background: white;
  border: 1px dotted rgb(13, 200, 200);
  /*background-color: rgb(222, 250, 250);*/
  border-radius: 10px;
  overflow: hidden;
}

.particle {
  padding: 0;
  margin: 0;
  position: absolute;
}

button#startButton {
  position: relative;
  display: block;
  margin: calc(50vh - 65px) auto;
  padding: 20px;
  font-size: 2em;
  background: rgb(230, 230, 255);
  color: #000000;
  border: 1px dotted rgb(13, 200, 200);
  border-radius: 10px;
}

div#blur {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 100;
  backdrop-filter: blur(6px);
}